.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-content: center;
}

.description {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.avatar {
  border-radius: 50%;
  margin: 30px;
}

.avatar img {
  border-radius: 50%;
}

.social-link {
  text-decoration: none;
  color: white;
}

.hamburguer {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 1.5rem;
  z-index: 3;
}

.maindescription {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navul {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, #2e1b3b,#ba1f60);
  list-style: none;
  text-align: center;
  height: 100vh;
  width: 100vw;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  font-size: 2em;
  line-height: 3em;
}

.show-menu {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  margin-top: 40px;
  order: 3;
}

.social-item {
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.nav-link {
  animation-duration: 2s;
  animation-name: fadeIn;
}

/* Fade In */
@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  } 
}

@media (min-width: 768px) {
  .maindescription {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .avatar {
    order: 1;
  }

  .description {
    order: 2;
  }

  .hamburguer {
    display: none;
  }

  .navul {
    display: flex;
    visibility: visible;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(0);
    position: static;
    height: auto;
    background: none;
    font-size: 20px;
    width: 300px;
    align-items: center;
  }

  .social-item {
    padding: 20px;
  }
}


/* About */


.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background-color: aliceblue;
  padding-top: 40px;
  flex-grow: 1;
}

.about-content {
  padding-left: 10px;
  padding-right: 10px;
}

.about-content p {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .about {
    display: flex;
    align-items: center;
  }
  .about-content {
    font-size: 1.2rem;
    max-width: 900px;
  }
}
